 
13 / 29 
 
4.3  .gitignore の修正 
1.  リポジトリの管理対象外にするファイルを指定するため、GitHub のフォークされたリポジトリにあ
る.gitignore のファイルを選択します。 
 
2.  画面を開き、右上のペンアイコンを押下します。 
 
3.  下記枠内の内容をコピーして、.gitignore ファイルの内容をすべて上書きします。 
# Compiled class file 
*.class 
 
# Log file 
*.log 
 
# BlueJ files 
*.ctxt 
 
# Mobile Tools for Java (J2ME) 
.mtj.tmp/ 
 
# Package Files # 
*.jar 
*.war 
*.nar 
*.ear 
*.zip 
*.tar.gz 
*.rar 
 
#Eclipse 
.metadata 
bin/ 
tmp/  
 
*.tmp 
*.bak 
*.swp 
*~.nib 
local.properties 
.settings/ 
.loadpath 
.recommenders 
 
# virtual machine crash logs 
hs_err_pid* 
replay_pid* 
 
# Maven artifacts 
/target/ 
 
# Eclipse artifacts, including WTP generated manifests 
.classpath 
.project 
.springBeans 
spring-*/src/main/java/META-INF/MANIFEST.MF 
